"""
Includes app secret_key and other sensitive app details
This file is (and should always be) included in .git-ignore
The file is imported into settings.py

A sample secrets.py.template is also included that allows
contributors and adopters on github to see what the secrets.py
should look like -- it is not .git-ignore'd
Remove '.template' from file name before using
"""

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'yourdjangoprojectsecretkeygoeshere'
